h1{
    font-family: 'Roboto', sans-serif;
    margin-left: 1%;
}
.formBox{
    font-family: 'Roboto', sans-serif;
    background-color: #8080804a;
    border: 1px solid #00000040;
    border-radius: 7px;
    display: inline-block;
    width: 28%;
    padding: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
}
input{
    width: 40%;
    height: 24px;
    border: 1px solid #00000040;
    border-radius: 7px;
    font-size: 12px;
}
textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 74%;
    border: 1px solid #00000040;
    border-radius: 7px;
    height: 57px;
}
.btnForm{
    font-family: 'Roboto', sans-serif;
    height: 27px;
    border: 1px solid #00000040;
    border-radius: 7px;
}
#Posts{
    float: right;
    width: 64%;
    margin-right: 1%;
}
.Posts{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #00000040;
    background-color: #8080804a;
    border-radius: 7px;
    padding: 2%;
}
.bodyTxt{
    font-size: 14px;
}
.btnDel{
    background-color: black;
    color: white;
    float: right;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.EditTitBod{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: 1px solid #00000040;
    border-radius: 7px;
}
#solidup{
   float: right;
   font-size: 18px;
}